@model TicketManagementSystem.DTOs.Ticket.CreateTicketDto

<h2>Create Ticket</h2>

<form asp-controller="Ticket" asp-action="Create" method="post">

    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Title</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Priority</label>
        <input asp-for="Priority" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <input asp-for="Category" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Status</label>
        <input asp-for="Status" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Department</label>
        <input asp-for="Department" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Add Ticket
    </button>

</form>