@model List<TicketManagementSystem.DTOs.Ticket.TicketListDto>;
@{
    ViewData["Title"] = "Dashboard";
    var total = Model.Count();
    var open = Model.Count(t => t.Status == "Open");
    var inProgress = Model.Count(t => t.Status == "In Progress");
    var closed = Model.Count(t => t.Status == "Closed");
}

<div class="container-fluid mt-4">
    
    <div class="row">

        <div class="col-md-3">
            <a href="/Home/GetTicketByStatusId?id=1" style="text-decoration: none;">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body" >
                    <h5 class="card-title">Open Tickets</h5>
                    <h2>@open</h2>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/Home/GetTicketByStatusId?id=3" style="text-decoration: none;">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">In Progress</h5>
                    <h2>@inProgress</h2>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/Home/GetTicketByStatusId?id=2" style="text-decoration: none;">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Closed</h5>
                    <h2>@closed</h2>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/Ticket/Index" style="text-decoration: none;">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <h2>@total</h2>
                </div>
            </div>
            </a>
        </div>

    </div>
    <div class="row mt-4">

        <div class="col-md-6">
            <div class="card p-3">
                <h5>Tickets by Status</h5>
                <canvas id="statusChart"></canvas>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3">
                <h5>Tickets by Priority</h5>
                <canvas id="priorityChart"></canvas>
            </div>
        </div>

    </div>

    <div class="card mt-4">

        <div class="card-header">
            <h5>Recent Tickets</h5>
        </div>

        <div class="card-body">

            <table class="table table-bordered table-hover">

                <thead class="table-light">
                    <tr>
                        <th>Ticket ID</th>
                        <th>Subject</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned To</th>
                        <th>Created</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>#1021</td>
                        <td>Login not working</td>
                        <td><span class="badge bg-warning">In Progress</span></td>
                        <td><span class="badge bg-danger">High</span></td>
                        <td>John</td>
                        <td>15 Mar</td>
                    </tr>

                    <tr>
                        <td>#1020</td>
                        <td>Email issue</td>
                        <td><span class="badge bg-primary">Open</span></td>
                        <td><span class="badge bg-warning">Medium</span></td>
                        <td>Sarah</td>
                        <td>14 Mar</td>
                    </tr>

                    <tr>
                        <td>#1019</td>
                        <td>Printer not working</td>
                        <td><span class="badge bg-success">Resolved</span></td>
                        <td><span class="badge bg-secondary">Low</span></td>
                        <td>Mike</td>
                        <td>13 Mar</td>
                    </tr>

                </tbody>

            </table>

            <div class="modal fade" id="createTicketModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" id="createTicketModalContent">
                       
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@section Scripts {
    <script src="~/js/ticket.js"></script>
}

